@model CrudMahasiswa.Models.Jurusan

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Jurusan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id_jurusan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id_jurusan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nama_Jurusan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nama_Jurusan)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.JurusanID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
